html,
body {
    margin: 0;
    padding: 0;
    /* height: 100%; */
}

/* Settings footer*/
footer {
    background-color: #f9f7f7;
    left: 0;
    position: absolute;
    bottom: 300;
    color: #112D4E;
    font-size: 13pt;
    width: 100%;
}


#page {
    /* min-height: 100%; */
    /* margin: 0 auto; */
    /* position: relative; */
}

.conteneur {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.conteneur>div {
    text-align: center;
    list-style: inside;
    padding: 20px;
}

.section-nom {
    grid-area: 1 / 1 / 2 / 2;
}

.section-social {
    grid-area: 1 / 2 / 2 / 4;
}

.section-contact {
    grid-area: 1 / 4 / 2 / 5;
}

@media screen and (max-width: 800px) {

    .conteneur {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .section-nom {
        grid-area: 1 / 1 / 2 / 5;
    }

    .section-social {
        grid-area: 2 / 1 / 3 / 3;
    }

    .section-contact {
        grid-area: 2 / 3 / 3 / 5;
    }
}

@media screen and (max-width: 600px) {
    .conteneur {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .section-nom {
        grid-area: 1 / 1 / 2 / 2;
    }

    .section-social {
        grid-area: 2 / 1 / 3 / 2;
    }

    .section-contact {
        grid-area: 3 / 1 / 4 / 2;
    }
}