.form {
    background-color: #112D4E;
    margin: 0 5%;
    padding: 30px 60px;
    border-radius: 20px;
    margin-bottom: 50px;
    color: white;
}

.row {
    display: grid;
    grid-template-columns: auto auto auto auto;

}

.col {
    padding: 20px 40px;
    text-align: left;
    margin: auto;
}

.form-control {
    width: 100%;
    border: none;
    padding: 10px 25px;
}

label {
    display: block;
    text-align: left;
}

@media only screen and (max-width: 900px) {
    .row {

        grid-template-columns: auto auto;

    }
}

@media only screen and (max-width: 600px) {
    .row {
        grid-template-columns: auto;

    }
}